#nav{
    background-color: #FECA0F;
    font-family: 'Lato';
    color: #000000;
    font-weight: 700;
    display: flex;
}

#left-s{
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-style: italic;
    font-size: 20px;
}

#right-s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 20px;
}

#formm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 30px;
}

#login_cont{
    width: 400px;
    padding: 30px;
    background-color: #FECA0F;
    border-radius: 20px;
    font-family: 'Lato';
    color: #000000;
    font-weight: 700;
    box-shadow: 5px 10px black;
}

#log_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
}